@model AlumniPortal.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<style>
    .hr {
        margin-top: 10px;
        margin-bottom: 10px;
        border-color: lightgrey;
        color: rgb(141, 141, 141);
        border-top: 1px solid #CECDCD;
    }

    .headingPrimary {
        text-align: center;
        font-size: large;
        color: rgb(3, 65, 128);
        font-weight: bolder;
        margin-bottom: 0;
        margin-top: 10px;
        text-transform: uppercase;
    }

    .profileContainer {
        width: 100%;
        text-align: center;
    }

    .updateButton {
        width: 140px;
        padding: 10px 10px;
        font-size: 14px;
        font-weight: bolder;
        color: white;
        background-color: rgb(36, 95, 216);
        border: rgb(36, 95, 216);
        border-radius: 0;
    }

        .updateButton:hover {
            background-color: rgb(30, 77, 172);
        }

    input[type="text"], input[type="password"] {
        border: 1px solid rgb(183, 183, 183) !important;
        color: rgb(113, 109, 109);
    }

    .control-label {
        color: rgb(113, 109, 109);
    }
</style>

<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="col-sm-8">
                <h3 class="headingPrimary">Change Password</h3>
                <hr class="hr" />

                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-3 control-label" })
                    <div class="col-md-9">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Change password" class="btn btn-default updateButton" />
                    </div>
                </div>
            </div>
        }

        <div class="col-sm-3" style="margin-top: 15px; min-width: 242px;">
            @Html.Action("Calendar", "Events", new { isVertical = true })
            @Html.Action("GalleryPartial", "Gallery")
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}